<div class="container">
    <h1>REGISTRATION NUMBERS</h1>

    <form action="/registration" method="POST">
        <label for="">Enter Registration Number:</label>
        <br>
        <input type="text" name="textbox" value="" class="reg-textbox">

        <!-- <div class="errorMessages"></div> -->
        <br>

        <button type="button" name="button" class="addButton">Add</button>

        <select class="drop-down" name="">
            <option value="">Select Town</option>
            <option value="CA">Cape Town</option>
            <option value="CJ">Paarl</option>
            <option value="CAG">George</option>
            <option value="CL">Stellenbosch</option>
        </select>

        <button style="float: none" class="filterButton">Filter</button>

        <p>Registration Numbers</p>
        <div class="reg-plate">
        </div>
    </form>

</div>