<div class="container">

    <h1>REGISTRATION NUMBERS</h1>
    <div class="content">
        <form action="/reg_numbers" method="POST">
            <div class="enterReg">
                <label for="">Enter Registration Number:</label>
                <br><br>
                <input type="text" name="userRegistration" value="" class="reg-textbox">
                <button type="submit" name="reg-btn" class="addButton">Add</button>
            </div>
            <!-- <div class="errorMessages"></div> -->

            <div class="filer">
                <label for="">Filter Registration Numbers</label>
                <br><br>
                <select class="drop-down" name="filter">
                    <option value="">Select Town</option>
                    <option value="CA">Cape Town</option>
                    <option value="CJ">Paarl</option>
                    <option value="CAG">George</option>
                    <option value="CL">Stellenbosch</option>
                </select>
                <a href="/filter" style="float: none">Filter</a>
            </div>
        </form>
        <div class="resetBtn">
            <a href="/reset">Reset</a>
        </div>
        <br>
        <hr>
        <div class="reg-plate">
            <label>Registration Numbers</label>
            <br>
            <div class="error">
                {{messages.error}}
            </div>
            
            <ul>
                {{#each registration}}
                <li>{{registration}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

</div>